nav,.contenedor,footer,.principal,aside,header
{
max-width: 90%;
margin: auto;
text-align: center;

}
header{
    background-color: #005883;
}

nav{
 background-color: #f78d42;
    }
.contenedor{
background-color: #F0B429;

    }

    .principal{
        background-color:#F0B429;
    }
    footer{
        background-color: #005883;
    }