nav,footer,aside,header,.contenedor,.principal
{
max-width: 90%;
margin: auto;
text-align: center;



}
header{
    background-color: #005883;
    margin: auto;
    text-align: left;

}
    nav{
 background-color: #f47920;
 font-family: 'Franklin Gothic Medium';
 font-size: 100%;
 text-align: left;
  margin:center;
  
    }  
.contenedor{

background-color: #808080;
width:100%;
text-align: left ;
margin: auto;
font-family: 'Franklin Gothic Medium';

    }

   
    .principal{
        background-color:#808080;
        font-family: 'Franklin Gothic Medium';
        width:100%;
    }
    footer{
        background-color: #F0B429;
    }
    .menu li {
        display: inline-block;
     }
     li a, btnDesplegable {
         display: inline-block;
         color: black;
         padding: 0.9em 1em;
         text-align: center;
         text-decoration: center;
     }
     .contenidoDesplegable{
         display: none;
         position: absolute;
         background-color: blanchedalmond;
         min-width: 8em;
     }
     .contenidoDesplegable line a{
         color: black;
         padding: 0.2em 1em;
         display:block ;
         text-decoration: none;
         text-align: center;
         
     }
     .contenidoDesplegable a:hover{
         background-color: rgba(49, 82, 131, 0.932);
     }
     .desplegable:hover .contenidoDesplegable{
         display: block;
     }
     li a:hover{
         background-color: white;
     }
     .desplegableactividad:hover .contenidoDesplegableactividad{
         display: block;
     }
     .contador {
        display:flex;
         text-align: right;
         font-family: 'Franklin Gothic Medium';
     }
     .section-content{
        min-height: calc(150vh - 180px);
        display: flex;
        -webkit-text-stroke-width: thin;
      }
      .section-content .description{
        font-family: 'Franklin Gothic Medium';
        width: 50%;
        padding: 0 2%;
        text-align: justify;
      }
      .section-content aside {
        background-color: white (240,180,41);
        display: flex;
        width: 25%;
        padding: 5px;
      }
     .aside-texto {
        background-color: rgb(218, 212, 201);
        display: flex;
        -webkit-text-stroke-width: thin;
        padding: 5px;
      }
      
      .aside-twiter {
        background-color: rgba(54, 133, 250, 0.719);
        display: flex;
        text-align:left;
        padding: 5px;
        }
        h1{
            color: whitesmoke;
        }