body {background:#F0B429;}
h1{
    color:whitesmoke;
}
footer{
    background-color: #005883;
    padding: 5px;
    font-family: 'century gothic', sans-serif;
}
header{
    background-color: #005883;

    margin: auto;
    text-align: center;
}
.div {
    background-color: black;
  
}
h2{
    font-family: 'century gothic', sans-serif;
    text-decoration: center;
    color:black
    
}




  

    
    
  
