nav,.contenedor,footer,.principal,aside
{
max-width: 90%;
margin: auto;
text-align: center;
}
nav{
 background-color: rgb(27, 26, 99);
    }
.contenedor{
background-color: #f47920;
    }
    footer{
        background-color: rgb(27, 26, 88);
    